* {
    margin: 0
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #F0F2F6;
    width: 1400px;
}

section{
    padding-left: 50px;
    padding-right: 50px;
}

a {
    color: black;
    text-decoration: none;
}

h1{
    font-size: 22px;
    font-weight: 700;
}

h2{
    font-size: 22px;
    font-weight: 700;
}

h3{
    font-size: 16px;
    font-weight: 700;
}

p{
    font-size: 16px;
    font-weight: 400;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 55px;
}

nav a {
    margin-left: 67px;
    font-weight: 500;
    font-size: 16px;
    padding: 48px;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.logo-header {
    width: 61.09px;
    height: 19px;
}