* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


.neutralStar {
    color: var(--main-bg-color)
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}



a {
    color: black;
    text-decoration: none;
}

h1{
    font-size: 22px;
    font-weight: 700;
}

h2{
    font-size: 22px;
    font-weight: 700;
    /*line-height: 25.83px;*/
}

h3{
    font-size: 16px;
    font-weight: 700;
}

p{
    font-size: 16px;
    font-weight: 400;
}


header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.header-link {
    margin-left: 67px;
    font-weight: 500;
    font-size: 16px;
    padding: 48px;
}

.header-link:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.logo-header {
    width: 61.09px;
    height: 19px;
}



.card {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 5px;
}



.card img {
    object-fit: cover;
}


/**********************************  Hebergements and populaires ***********************************/


.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    background-color: var(--main-bg-color);
    padding: 30px;
    box-sizing: border-box;
}

.hebergements {
    width: 65%;    
}

.populaires {
    width: 32%;
}



/********************************** populaires ***********************************/

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card{
    display: flex;
    margin-top: 33px;
}


.populaires-cards .card-content{
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

}


.populaires-cards img{
    border-radius: 20px 0 0 20px;
    height: 134px;
    width: 33%;
}



.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}



.populaires-cards .card-subtitle {
    margin: 0;
}


.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/************************************ hebergements **********************************************/

 .hebergements-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 

} 


.hebergements .card{
    width: 29%;
    margin-top: 30px;
}


.hebergements img{
    border-radius: 20px 20px 0 0;
    height: 114px;
    width: 100%;
}


.hebergements .card-content{
    padding-left: 10px;
}


.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 7px;
}


.hebergements-cards .card-subtitle {
    margin: 0;
}


.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-top: 7px;
}

.see-more {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;

}

/****************************************** activities ******************************************/

.activites{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 65px;
}


.activites-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.activites-cards img{
    border-radius: 20px 20px 0 0;
    height: 380px;
    width: 100%;
}


.activites-cards .card {
    width: 23%;
    padding: 0px;
    margin-top: 30px;
}

.activites-cards .card-content{
    padding-left: 19px;
}

.activites-cards .card-title{
    margin-top: 19px;
    margin-bottom: 19px;
}


/*********************************footer*************************************/

footer {
    background-color: var(--main-bg-color);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.menu-footer {
    width: 33%;
}


.menu-footer p{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 15px;

}

.menu-footer ul {
    list-style: none;
    margin-left:0;
    padding-left:0;
}

.menu-footer li {
    margin-bottom: 15px;
}


.link-footer{
    font-size: 16px;
    font-weight: 400;
}

.link-footer:hover{
    font-weight: 500;
}

/*********************************Recherche*************************************/
.recherche{
    margin-bottom: 37px;
}

.indications{
    margin-top: -10px;
}

.form-recherche{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon-location {
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    padding: 17px 24px;
}

.fa-location-dot{
    color:black;
}

input {
    padding: 15px 16px;

    font-size: 18px;
    font-weight: 700;
}

input[type="text"] {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;

}


input[type="submit"]{
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
}

input[type="submit"] value {
    color: white;
}




.filtres{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}



/******************************** help ********************/

/*
.filtre {
    background-color: red;
}
*/

/*
.filtre:hover {
    background-color: yellow;
}
*/

/*
.filtres a:hover {
        background-color: black ;
}
*/


.filtres p{
    font-weight: 700;
    font-size: 18px;
}

.filtre{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;  
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin-left: 10px;
    padding: 10px 19px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.filtre p{
    margin: 0;
    font-weight: 700;
    font-size: 17px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.info p{
    font-weight: 400;
    font-size: 16px;
}