/* {
    margin: 0
} */

body {
    font-family: 'Raleway', sans-serif;
    width: 1400px;
    margin: auto;
}


section{
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    color: black;
    text-decoration: none;
}

h1{
    font-size: 22px;
    font-weight: 700;
}

h2{
    font-size: 22px;
    font-weight: 700;
    /*line-height: 25.83px;*/
}

h3{
    font-size: 16px;
    font-weight: 700;
}

p{
    font-size: 16px;
    font-weight: 400;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

nav a {
    margin-left: 67px;
    font-weight: 500;
    font-size: 16px;
    padding: 48px;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.logo-header {
    width: 61.09px;
    height: 19px;
}

footer {
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 45px 70px;
}

.title-footer{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 20px;

}

.link-footer{
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 12px;
}

.link-footer:hover{
    font-weight: 500;
}

/*
.grid-activites{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 43px;
    margin-top: 20px;
    margin-bottom: 60px;
    
}*/


/* activites */

.grid-activites{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
    flex-wrap: wrap;
    
}


.card-activites{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 445px;
    width: 302px;
}

.container-activites{
    /*border-radius: 0 0 20px 20px;*/
    padding: 6px 20px;

}

.img-activites{
    border-radius: 20px 20px 0 0;
    height: 380px;
    width: 100%;
    object-fit: none;
}

/* section 2 */

.hebergements-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.encart-hebergements {
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 60%;
    padding: 40px;
    
}

.encart-populaires {
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 25%;
    padding: 40px;
}


/* hebergements */

.grid-hebergements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;    
}


.card-hebergements{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 199px;
    width: 246px;
    background-color: #FFFFFF;
    border: 5px solid white;
}

.container-hebergements{
    /*border-radius: 0 0 20px 20px;*/
    padding: 6px 20px;

}

.img-hebergements{
    border-radius: 20px 20px 0 0;
    height: 124px;
    width: 100%;
    object-fit: none;
}

/* populaires */

.grid-populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
    flex-wrap: wrap;
    
}


.card-populaires{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 144px;
    width: 343px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    border: 5px solid white;
}

.container-populaires{
    /*border-radius: 0 0 20px 20px;*/
    padding: 6px 20px;

}

.img-populaires{
    border-radius: 20px 0 0 20px;
    height: 144px;
    width: 40%;
    object-fit: cover;
}